@media (max-width: 1600px) {
  .nav-btn {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 900px) {
  .evolution-arrow {
    transform: rotate(90deg);
    font-size: 1.5rem;
  }

  .evolution-item img {
    max-height: 10vh;
  }

  .evolution-container {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 1580px) {
  .evolution-name {
    text-align: center;
    font-weight: bold;
    color: aliceblue;
  }
}

@media (max-width: 1500px) {
  .evolution-item {
    max-width: 100%;
    margin: 0;
  }

  .evolution-name {
    font-size: 14px;
  }
}

@media (max-width: 1240) {
  .evolution-img {
    width: 80px;
    margin: 0;
  }
  .evolution-name {
    font-size: 10px;
  }
}

@media (max-width: 1220px) {
  .nav-btn {
    transform: translateY(0);
  }
}

@media (max-width: 380px) {
  .evolution-name {
    font-size: 10px;
  }
}

@media (max-width: 440px) {
  .overlay-tabs button {
    padding: 0;
    min-width: 0;
  }

  .overlay-text {
    font-size: 1.5rem;
    margin: 2rem;
  }

  .overlay-header {
    height: 100vh;
  }

  .stat-name {
    width: 40% !important;
  }
}

@media (max-width: 600px) {
  .stat-name {
    width: 30%;
  }

  .stats-list {
    margin: 0;
  }
}

@media (max-width: 580px) {
  .pokeball-title {
    font-size: 1.5rem;
  }

  .pokeball.header {
    width: 30px;
    height: 30px;
    border: 1px;
  }

  .search-filter {
    width: 120px;
    font-size: 0.8rem;
    padding: 5px;
  }
}
